<!DOCTYPE html>
<html>
<head>
	<title>Dorm Campus</title>
	<link rel="shortcut icon" href="http://design.ubuntu.com/wp-content/uploads/ubuntu-logo32.png" type="image/x-icon">
  <link rel="icon" href="http://design.ubuntu.com/wp-content/uploads/ubuntu-logo32.png" type="image/x-icon">
  
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/78fd4bb140.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/main.css"></link>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/sut">Dorm Campus</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/home">Home</a></li>
        <!--<li><a href="">About</a></li>-->
        <!--<li><a href="">Contact</a></li>-->
      </ul>
   
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up <i class="fa fa-user-plus"></i></a></li>
 		<li><a href="#">Login <i class="fa fa-user"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>