<!DOCTYPE html>
<html>
<head>
	<title>Dorm Campus</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/78fd4bb140.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="app.css">-->
	<link rel="stylesheet" href="../public/stylesheets/main.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>