<!DOCTYPE html>
<html>
<head>
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/738484207538819072/D20dEjT_.jpg" />
    <meta property="og:title" content="DormCampus" />
    <meta property="og:description" content="YOYO" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dorm Campus</title>
	<link rel="shortcut icon" href="http://design.ubuntu.com/wp-content/uploads/ubuntu-logo32.png" type="image/x-icon">
  <link rel="icon" href="http://design.ubuntu.com/wp-content/uploads/ubuntu-logo32.png" type="image/x-icon">
  
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://use.fontawesome.com/78fd4bb140.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/main.css"></link>
</head>

<body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>  
                <a class="navbar-brand" href="/sut">Dorm Campus</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ><a href="/sut">Home</a></li>
                    <li><a href="/notice">Notice</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <% if(currentUser) {%>
                    <li><a href="/sut/new">Create new dorm</a></li>
                    <% } %>
                    
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>