                       <div class="rating">
                           <p>
                           <% for(var i=1 ; i <= 5 ; i++ ){%>
                               <%if(i <= dorm.rating){%>
                               <i class="fa fa-star "></i>
                               <% }else {%>
                               <i class="fa fa-star-o"></i>
                               <% }%>
                           <% } %>
                           </p>
                       </div>