<% include ../partials/header %>
<div class="container margin_top">

    <h1><%=dormitory.name%></a></h1>
    <hr class="style-two">
    <div class="row">
        <div class="col-md-8">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= dormitory.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a><%=dormitory.name%></a></h4>
                    <p><%= dormitory.description %></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p class="lead">YelpCamp</p>
            
            <div>
                <div id="map"> </div>
            </div>
            
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>        
    </div>
</div>

<script>
      var map;
      function initMap() {

         var myLatLng = {lat: 14.885471, lng: 102.019597};
         
        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!',
          icon: image
        });
        
        var url = "http://maps.google.com/?ll="+myLatLng.lat+", "+myLatLng.lng;
        
         marker.addListener('click', function() {
          window.open(url,"_self")
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXnuKhOYLoVmaEHPUzY4u-QUU-rHWaGHg&callback=initMap"
    async defer></script>

<% include ../partials/footer %>